＊{
  margin: 0;
  padding: 0;
}

.body {
  width:100%;
}

header img {
  /*background-image: url("beach.jpg");*/
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 0px;
  position:relative;
}


header img {
  width: 100%;
}

#logo {
  width: auto;
}

.navbar{
  margin:0;
  border-radius:0;
}

.header{
  margin:0;
  padding:0;
}

.navbar-header{
    margin: 0;
    padding:0;
}

.container-fluid{
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: -100;
}

.header-wrapper {
	position:	relative;
}

#imgtitle {
  text-align: center;
	position:	absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	margin-left: -136px;
}

section {
  text-align: center
}

.row {
  text-align: center
}

.plogo {
  margin-top: 20px;
  border: 5px solid #ccc;
  border-radius: 100%;
}

footer {
  background-color: #ccc;
  font-size: 93%;
  text-align: center;
  color: #666;
}

row {
  background-color: #ccc;
}

#profile-background{
  background-color: #f0f8ff;
  text-align: center;
  width: 100%;
}